<!DOCTYPE html>
<!--Every thing inside the html element belongs to angular because that is where ng-app is declared. Give ng-app a value in order to assign it to a paticular module that is defined in the accompying JS file.-->
<html ng-app="dale">
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple app</title>
    <script src="angular/angular.js"></script>
</head>
<body>
<!--Every thing in this div class is scoped to DaleController because of the ng-contoller directive-->
<div ng-controller="DaleController">
<h1>Hello {{clock.now}} !</h1>
</div>
<!--Using the ng-click directive multi-controller scopes-->
<div ng-controller="CalcController">
    <h4>A simple calculator</h4>
    <button ng-click="add(1)" class="button">Add</button>
    <a ng-click="add(-1)" class="button alert">Subtract</a>
    <h4>Current count: {{counter}}</h4>
</div>
<div ng-controller="PropController">
    <h1>{{person}}</h1>
    and their name
    <h2>{{person.name}}</h2>
    <!--Bind a scope as a child scope by placing child controller inside of parent controller-->
    <div ng-controller="PropChildController">
        <a ng-click="displayPhone()">Show Phone</a>
        {{person.phone}}
    </div>
</div>
<!--Parse expr when it changes value output the parsed result to parsedValue-->
<div ng-controller="parseController">
    <input ng-model="expr" type="text" placeholder="Enter an Expression"/>
    <h2>{{parsedValue}}</h2>
</div>
<!--Using a template expression for the ng-model to in the emailBody will put the contents of to in its place when the email body changes-->
<div ng-controller="interpolateController">
    <input ng-model="to" type="email" placeholder="Recipient"/>
    <textarea ng-model="emailBody"></textarea>
    <pre>{{previewText}}</pre>
</div>
<div ng-controller="filterController">
    <h2>{{sample}}</h2>
</div>
<script src="dale.js" async></script>
</body>
</html>