<!DOCTYPE html>
<!--Every thing inside the html element belongs to angular because that is where ng-app is declared. Give ng-app a value in order to assign it to a paticular module that is defined in the accompying JS file.-->
<html ng-app="dale">
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple app</title>
    <script src="angular/angular.js"></script>
</head>
<body>
<!--Every thing in this div class is scoped to DaleController because of the ng-contoller directive-->
<div ng-controller="DaleController">
<h1>Hello {{clock.now}} !</h1>
</div>
<!--Using the ng-click directive multi-controller scopes-->
<div ng-controller="CalcController">
    <h4>A simple calculator</h4>
    <button ng-click="add(1)" class="button">Add</button>
    <a ng-click="add(-1)" class="button alert">Subtract</a>
    <h4>Current count: {{counter}}</h4>
</div>
<script src="dale.js" async></script>
</body>
</html>